@model IEnumerable<ImportExcelSql.Models.Car>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table" name="stafflist" id="stafflist">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @Html.TextBoxFor(modelItem => item.Name, new { @class = "form-control" })
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Adress)*@
                    @Html.TextBoxFor(modelItem => item.Adress, new { @class = "form-control" })
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
